@import '../../../src/styles/variables';

.form-input {
  position: relative;
}
.form-input label {
  display: flex;
  gap: 2px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Avenir Next";
  margin-bottom: 4px;
  white-space: nowrap;
}

.simple-input-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  height: 48px;
  width: 100%;
  border-radius: 10px;
  background: $flash-white;
  color: $grey-1;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 20px;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: $black;
  }
}

.disabled-input {
  color: $grey-3;
  background: $grey-border;
}

.simple-input-wrapper>input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  background: #F6F1F1;
  border: 0;

  &:disabled {
    color: grey;
    background: darkgray;
  }

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: $black;
  }
}

.form-input textarea.main-textarea {
  width: 100%;
  height: 140px;
  resize: none;
  border-radius: 10px;
  padding: 13px 20px;
  font-size: 14px;
  background: #F6F1F1;
  border: none;

  &::placeholder {
    font-size: 16px;
    color: $black;
  }

  &:focus-visible {
    outline: none;
  }
}

.form-input input {
  font-family: "Avenir Next";
}

.error-wrapper {
  margin-top: 2px;
  display: flex;
  color: $danger;
  font-size: 14px;
}

.error-input {
  border-color: $danger !important;
}

.required::after {
  content: "*";
  color: $danger;
  font-size: 14px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .form-input label {
    font-size: 14px;
  }

  .simple-input-wrapper {
    font-size: 14px;
  }

  .form-input textarea.main-textarea {
    &::placeholder {
      font-size: 14px;
    }
  }
}