@import '../../styles/variables';

.generic-modal {
  .modal-content {
    padding: 0;
  }
  .modal-header {
    border: 0;
    .modal-title {
      color: $black;
      font-size: 24px;
      font-weight: 700;

    }
    .btn-close {
      &:hover {
        color: unset;
        opacity: unset;
      }
      &:focus {
        box-shadow: unset;
      }
    }
  }
}
