$blue: #1D457E;
$btn: #E83B4D;
$danger: #d03602;
$black: #000000;
$white: #FFFFFF;
$background: #F1F1F1;
$heading-text: #333342;
$header-text: #1f2124;
$border: #1e848d;
$modal: #696969;
$light-green: #8cbec2;
$flash-white: #f6f1f1;
$grey-1: #696969;
$grey-3: #f6f1f1;
$grey-border: #f6f1f1;