@use '../../styles/variables';

.file-selector-container {
  font-family: variables.$avenir-next-font;

  h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #000000; // Darker text color for readability
  }

  .file-drop-zone {
    background: #f6f1f1; // Light pinkish background
    border-radius: 4px; // Softer rounded edges
    padding: 24px;
    height: 163px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
    position: relative;

    &:hover {
      border-color: #008489; // Darker teal on hover
    }

    input[type='file'] {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      margin-top: 10px;

      ._attach {
        font-size: 16px;
        color: #00798a; // Teal color for file link
        font-weight: normal;
        cursor: pointer;
        text-decoration: none;
        text-decoration: underline;
      }

      span {
        font-size: 16px;
        color: #00798a; // Teal color for file link
        font-weight: normal;
        cursor: pointer;
        text-decoration: none;
        text-decoration: underline;
      }
    }

    p {
      font-size: 12px;
      color: #666; // Muted gray
      margin-top: 6px;
    }
  }

  button {
    display: block;
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    background: #00798a; // Teal color matching the text
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: #005f6b; // Darker teal for hover
    }
  }
}
