@use '../../styles/variables';

.custom-time-picker {
  position: relative;
  display: inline-block;
  font-family: variables.$avenir-next-font;
  width: 100%;
  height: 48px;

  .custom-time-picker-input {
    width: 100%;
    height: 100%;
    background: variables.$grey-3;
    outline: none;
    border: none;
    outline: none;
    box-shadow: none;
    background: variables.$grey-3;

    input {
      font-family: variables.$avenir-next-font;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1rem;
      &::placeholder {
        color: var(--bs-secondary-color);
      }
    }
    .ant-picker-input-placeholder {
      input {
        color: var(--bs-body-color);
      }
    }
  }
}

.custom-time-picker-popup {
  .ant-picker-now-btn {
    color: variables.$border !important;
    text-decoration: underline !important;
    font-family: variables.$avenir-next-font;
  }

  .ant-picker-ranges {
    .ant-picker-ok {
      padding-block: unset;

      button {
        padding: 0px 7px;
        border-radius: 4px;
        box-shadow: unset;
        color: variables.$border;
        border: 1px solid variables.$border;

        span {
          height: 24px;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
        }

        &:focus-visible {
          outline: none;
          color: white;
          border: unset;
        }
        &:focus {
          background-color: variables.$border;
        }
      }

      .ant-btn-variant-solid:disabled {
        color: rgba(0, 0, 0, 0.25) !important;
        background: rgba(0, 0, 0, 0.04) !important;
        font-size: 12px;
        border: 1px solid #d9d9d9;
      }
    }
  }
}
