@import '../../styles/variables';

.custom-time-picker {
  position: relative;
  display: inline-block;
  font-family: $avenir-next-font;
  width: 100%;

  .custom-time-picker-input {
    height: 48px;
    width: 100%;
    background: $grey-3;
  }
}

.custom-time-picker-popup {
  .ant-picker-now-btn {
    color: $border;
  }
}
