@import '../../../src/styles/variables';

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 450px;
  width: 100%;

  .label {
    font-family: $avenir-next-font;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
  }

  .dropdown-toggle {
    width: 100%;
    height: 48px;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    background: $flash-white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      display: none; // Hide default Bootstrap arrow
    }
  }

  // Style the dropdown menu
  .dropdown-menu {
    width: 100%;
    border-radius: 6px;
    padding: 0;
    overflow: hidden;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 2px 8px;
  }

  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .dropdown-container {
    max-width: 100%;

    .label {
      font-size: 14px;
    }
  }
}