@import '../../../../src/styles/variables';

.contact-information-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .form-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .form-title label {
    display: flex;
    gap: 2px;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 190%;
    margin-bottom: 4px;
  }

  .form-title p {
    font-size: 16px;
    font-style: normal;
    color: $grey-1;
  }
}