@import '../../../src/styles/variables';

.contact-information-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding: 50px;

  .contact-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-2;
    width: 100%;

    .contact-header {
      font-family: "Avenir Next";
      font-weight: 600;
      font-size: 24px;
      color: $black;
    }

    .step-text {
      font-family: "Avenir Next";
      font-weight: 600;
      font-size: 18px;
      color: $grey;
    }
  }


  .form-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .form-title label {
    display: flex;
    gap: 2px;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 190%;
    margin-bottom: 4px;
  }

  .form-title p {
    font-size: 16px;
    font-style: normal;
    color: $grey-1;
  }
}