@import "../../styles/variables";

.trip-planner {
  display: flex;
  gap: 30px;
}

.single-location {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trip-planner-main {
  border-bottom: 1px solid $grey-2;
}

.main-wrapper {

  .draggable-icon {
    left: -30px;
    top: 40px;
    cursor: grab;
  }

  &:hover {
    .draggable-icon {
      display: block;

      &:hover {
        display: block;
      }
    }
  }
}

.delete-icon {
  position: absolute;
  top: 40px;
  right: -40px
}

.remove-stop {
  display: none;
}

.common-btn {
  height: 33px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid $border;
  padding: 7px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: $border;
  width: fit-content;
  background-color: $white;
  margin-left: 50px;
}

.hr-wrapper {
  top: 30px;
  border: none;
  border-left: 2px solid $border;
  height: 188px;
  opacity: 1;
  margin: 0;
}

.stepper-main {
  width: 32px;
  margin-top: 2.5rem;
}

.item-container {
  flex-direction: row;
}

.label-style {
  font-size: 18px !important;
}

.label {
  display: flex;
  gap: 2px;
  font-size: 18px;
  font-weight: 600;
  font-family: $avenir-next-font;
  margin-bottom: 4px;
  white-space: nowrap;
}

.on-at {
  width: 25%;
}

.location {
  width: 50%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .item-container {
    flex-direction: column;
  }
  .label {
    display: flex;
    gap: 2px;
    font-size: 16px;
    font-weight: 600;
    font-family: $avenir-next-font;
    margin-bottom: 4px;
    white-space: nowrap;
  }
  .hr-wrapper {
    top: 30px;
    border: none;
    border-left: 2px solid $border;
    height: 386px;
    opacity: 1;
    margin: 0;
  }
  .on-at {
    width: 100%;
    padding-left: 50px;
  }
  .location {
    width: 100%;
  }
  .delete-icon {
    display: none;
  }
  .remove-stop {
    display: flex;
    height: 25px;
    position: absolute;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    pointer-events: auto;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }

  .main-wrapper {
    .draggable-icon {
      display: none;
    }
  }
}
