@use '../../../src/styles/variables';

.contact-information-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: variables.$white;
  padding: 50px 92px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  margin: 30px 0;

  .contact-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .contact-header {
      font-family: variables.$avenir-next-font;
      font-weight: 600;
      font-size: 24px;
      color: variables.$black;
    }

    .step-text {
      font-family: variables.$avenir-next-font;
      font-weight: 600;
      font-size: 18px;
      color: variables.$grey;
    }
  }

  .main-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;

    .form-title {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }

    .form-title label {
      display: flex;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 24px;
    }

    .form-title p {
      font-size: 16px;
      font-style: normal;
      color: variables.$grey-1;
    }
  }
}

.bottom-section-main {
  .check-box {
    display: flex;
    margin-top: 20px;
    gap: 20px;

    .checkbox-container {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
    }

    .checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border: 1px solid #aaaaaa;
      border-radius: 2px;
    }

    .checkbox-container input:checked ~ .checkmark {
      background-color: #1e848d;
      border-radius: 2px;
      border: 1px solid #1e848d;;
    }

    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }

    .checkbox-container input:checked ~ .checkmark:after {
      display: block;
    }

    .checkbox-container .checkmark:after {
      left: 8.5px;
      top: 3px;
      width: 7px;
      height: 13px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .checkbox-text {
      font-family: variables.$avenir-next-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -1.1%;
      color: #383838;

      p {
        margin-top: 0 !important;
      }
    }
  }

  .review-submit-button {
    background-color: #1e848d;
    color: -#ffffff;
    font-family: variables.$avenir-next-font;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -1.1%;
    height: 59px;
    gap: 10px;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border: none;
    &:disabled {
      opacity: 0.5;
    }
    &:hover {
      color: variables.$white;
      background: variables.$border;
    }
    &:active {
      color: variables.$white !important;
      background-color: variables.$border !important;
    }
    &:focus-visible {
      box-shadow: none !important;
    }
  }

  .review-submit-button:active {
    background-color: #1e848d;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    .bottom-section-main {
      padding: 20px;
    }

    .check-box {
      flex-direction: row;
    }

    .checkbox-icon {
      margin-bottom: 10px;
      min-width: 24px;
    }

    .review-submit-button {
      width: 100%;
      padding: 12px;
    }
  }
}

.reviewers {
  margin: 30px 0;

  .reviewers-img {
    width: 140px;
    height: 56px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .contact-information-main {
    padding: 0;
    background: unset;
    box-shadow: unset;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contact-information-main {
    .contact-header-wrapper {
      .contact-header {
        font-size: 20px;
      }

      .step-text {
        font-size: 16px;
      }
    }
  }
}
